$primary: #333;
$secondary: #56585b;
$tertiary: #88898c;
$grey: #ccc;
$light-grey: #f4f5f7;
$border: #ebebeb;
$white: #fff;

$red: #ff4d4d;
$orange: #f78600;
$emerald: #29c7be;
$green: #29c759;
$blue: #5498da;
