$font-main: 'Noto Sans KR', sans-serif;

$font-size-10: 0.714em;
$font-size-12: 0.857em;
$font-size-13: 0.929em;
$font-size-14: 1em;
$font-size-15: 1.071em;
$font-size-16: 1.143em;
$font-size-18: 1.286em;

$line-height-12: 0.857em;
$line-height-14: 1em;
$line-height-20: 1.429em;

$letter-spacing-4: -0.029em;
$letter-spacing-8: -0.057em;
$letter-spacing-10: -0.071em;
$letter-spacing-20: -1em;
